<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h5>Events List</h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Event</th>
            <th>Date</th>
            <th>Description</th>
            <th>Venue</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody *ngFor="let event of events">
          <tr>
          <!--INTERPOLATION-->
            <td>{{event.eventId}}</td>
            <td>{{event.eventName}}</td>
            <td>{{event.eventDate | date : "dd/MM/yyyy"}}</td>
            <td>{{event.eventDescription}}</td>
            <td>{{event.eventVenue}}</td>
            <td>{{event.category?.category}}</td>
            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="deleteEvent(event)">DELETE</a></td>
            <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/edit-event', event.eventId]">EDIT</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
